@media print {
    .page-break {
        page-break-before: always;
    }

    .dont-print {
        display: none;
    }
}

body {
    max-width: 210mm;
    font-family: 'Garamond';
    font-size: 100%;
}

p {
    text-align: justify;
}

hr {
    margin-top: 0;

}

a {
    color: inherit;
    text-decoration: none;
}

h2 {
    margin-bottom: 6px;
}